<!doctype html>
<html>
<head>
    <title></title>
    <link href="/jquery-mobile/jquery.mobile.theme-1.0.min.css"
          rel="stylesheet" type="text/css">
    <link href="/jquery-mobile/jquery.mobile.structure-1.0.min.css"
          rel="stylesheet" type="text/css">
    <script src="/jquery-mobile/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/appComm.js"></script>
    <script src="/jquery-mobile/jquery.mobile-1.0.min.js"
            type="text/javascript"></script>
    <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <style type="text/css">
            /*<![CDATA[*/
        body{
            margin: 0;
            padding: 0;
            font-family: Times New Roman, serif;
            margin-left: 1px;
            margin-top: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
        }
        p{margin:0;padding:0}
        html,body{
            width:100%;
            height:100%;
        }
        #map_container{height:100%; border: 1px solid #999;height:250px;width:98%;margin:0 auto}

        @media print{
            #notes{display:none}
            #map_container{margin:0}
        }
        #r-result{height:100%;width:100%;}
            /*]]>*/
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchControl/1.4/src/SearchControl_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchControl/1.4/src/SearchControl_min.css" />
    <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
</head>

<body>
<div data-role="page" id="homePage">
    <div data-role="header" data-position="fixed">

        <h1>公交线路</h1>
        <a id="home" data-icon="home" data-iconpos="left" data-role="button">首页</a>
        <a id="refresh" data-role="button" data-icon="forward" data-iconpos="right">刷新</a>
    </div>

    <div data-role="content">

        <label for="textinput">起始点:</label>
        <input type="text" name="textinput" id="textinput1" value=""  />
        <label for="textinput">目的地:</label>
        <input type="text" name="textinput" id="textinput2" value=""  />
        <button id="search" data-icon="search" data-iconpos="right">搜索</button>
    </div>
    <div id="map_container"></div>
    结果：<br>
    <div id="r-result"></div>
</div>
</body>
<script type="text/javascript">
    var map = new BMap.Map("map_container");
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            var mk = new BMap.Marker(r.point);
            map.centerAndZoom(new BMap.Point(r.point.lng, r.point.lat), 15);
            map.addOverlay(mk);
            map.panTo(r.point);

            // 添加定位控件
            var geoCtrl = new BMap.GeolocationControl({
                showAddressBar : true //是否显示
                ,
                enableAutoLocation : false //首次是否进行自动定位
                ,
                offset : new BMap.Size(0, 20)
            });
            // 将定位控件添加到地图
            map.addControl(geoCtrl);
            //$("#position").html("当前位置：<br>经度:"+r.point.lng + ',纬度:' + r.point.lat);
            savePosition(r.point.lng ,r.point.lat);
        } else {
            alert('failed' + this.getStatus());
        }
    });

    $(function(){
        $("#search").click(function(){
            var start = $("#textinput1").val();
            var end = $("#textinput2").val();
            var transit = new BMap.TransitRoute(map, {
                renderOptions: {map: map, panel: "r-result"}
            });
            transit.setSearchCompleteCallback(
                    function(){
                        var status = transit.getStatus();
                        if(status==8){
                            alert("请求超时，请重试");
                            return;
                        }
                        if(status==7){
                            alert("服务不可用，请检查网络链接");
                            return;
                        }
                        if(status==7){
                            alert("服务不可用，请检查网络链接");
                            return;
                        }
                        if(status!=0){
                            alert("你的输入无法检索，请尝试重新输入");
                            return;
                        }
                    }
            );
            transit.search(start, end);
        });
    });

    $(function(){
        $("#home").click(function(){
                    window.location.href="/";
                }
        );
        $("#refresh").click(function(){
                    window.location.reload();
                }
        );
    });

</script>
</html>
